{% extends "layout.html" %}
{% block content %}
    <h1>Search</h1>
        <form>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Enter city">
        </div>
        <div class="form-group">
            <label for="checkin">Checkin</label>
            <input type="text" class="form-control" id="checkin" placeholder="Enter checkin">
        </div>
        <div class="form-group">
            <label for="checkout">Checkout</label>
            <input type="text" class="form-control" id="checkout" placeholder="Enter checkout">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
{% endblock content%}