{% extends "layout.html" %}
{% block content %}
    <h1>Results</h1>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Hotel Id</th>
            <th scope="col">Hotel Name</th>
            <th scope="col">Number of Reviews</th>
            <th scope="col">Address</th>
            <th scope="col">Number of Stars</th>
            <th scope="col">Ammenities</th>
            <th scope="col">Image</th>
            <th scope="col">Snaptravel Price</th>
            <th scope="col">Hotel.com Price</th>
            </tr>
        </thead>
        <tbody>
            {% for hotel in hotels %}
                <tr>
                <th>{{hotel.id}}</th>
                <td>{{hotel.hotel_name}}</td>
                <td>{{hotel.num_reviews}}</td>
                <td>{{hotel.address}}</td>
                <th>{{hotel.num_stars}}</th>
                <td>{{hotel.amenities}}</td>
                <td><img src={{hotel.image_url}} /></td>
                <td>{{hotel.price}}</td>
                <td>{{hotel.price}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}